h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__headings;
}


h1.entry-title,
h1.widget-title {
	margin: 0;
}

h1 {
	font-size: 32px;
	font-size: 2em;
	margin: 0.75em 0;
}
h2 {
	font-size: 28px;
	font-size: 1.75em;
	margin: 0.80em 0;
}
h3 {
	font-size: 24px;
	font-size: 1.5em;
	margin: 0.90em 0;
}
h4 {
	font-size: 20px;
	font-size: 1.25em;
	margin: 1.25em 0;
}
h5 {
	font-size: 16px;
	font-size: 1em;
	margin: 1.5em 0;
}
h6 {
	font-size: 16px;
	font-size: 1em;
	font-style: italic;
	margin: 1.5em 0;
}

h1.entry-title {
	margin-bottom: 0.25rem;
}

h1.widget-title {
	margin-bottom: 0.5rem;
}