$background: rgba(0, 0, 0, 0.75);

$color__background-body: #101010;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: transparent;
$color__background-button-hover: $background;
$color__background-pre: #101010;
$color__background-ins: rgba(255, 139, 39, 0.15);
$color__background-hidden: #101010;
$color__background-header: $background;
$color__background-footer: $background;
$color__background-sub-menu: $background;
$color__background-primary: transparent;
$color__background-secondary: transparent;
$color__background-back-to-top: $background;
$color__background-main: $background;
$color__background-sidebar-widgets: $background;
$color__background-slider-content: $background;
$color__background-comments: rgba(0, 0, 0, 0.4);
$color__background-comments-depth: rgba(0, 0, 0, 0.3);
$color__background-blockquote: rgba(255, 255, 255, 0.10);
$color__background-infinite-footer: $background;

$color__text-screen: #21759b;
$color__text-input: #202020;
$color__text-input-focus: #101010;
$color__hidden-text-input: #f3f3f3;
$color__hidden-text-input-focus: #f1f1f1;
$color__text-button-hover: #ff8b27;
$color__form-placeholder: #9e9e9e;
$color__link: white;
$color__link-visited: white;
$color__link-hover: #ff8b27;
$color__text-main: white;
$color__text-headings: white;
$color__menu-items: white;
$color__site-title: white;
$color__menu-hover: white;
$color__menu-hover-underline: #ff8b27;
$color__mobile-menu-title: white;
$color__mobile-menu-hover: #202020;
$color__background-mobile-menu-hover: white;
$color__bullets-sidebar: #a6b5fd;
$color__bullets-sidebar: #ff8b27;
$color__slider-navigation-arrows: $background;

$color__border-quote: #ff8b27;
$color__border-button: white;
$color__border-button-hover: $color__text-button-hover;
$color__border-button-focus: $color__text-button-hover;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-article: rgba(255, 255, 255, 0.15);
$color__border-widgets: rgba(255, 255, 255, 0.15);
$color__border-footer: rgba(255, 255, 255, 0.15);

$box-shadow: 0 0 10px rgba(0,0,0,.4);
$color__border-table: rgba(255, 255, 255, 0.15);
$color__background-even-table: rgba(255, 139, 39, 0.08);
$color__background-uneven-table: rgba(255, 255, 255, 0.08);
$color__background-header-table: rgba(255, 139, 39, 0.15);