// Structure.
$size__site-width: 71.25;
$size__site-main: 100%;
$size__site-sidebar: 25%;

// Breakpoints
$breakpoint-small: 30rem; // 480px
$breakpoint-medium: 50rem; // 800px
$breakpoint-large: 64rem; //1024px
$breakpoint-full: 71.25rem; //1140px